body {
	color: red;
}
h1 {
	font-size: 50 px;
	color: fuchsia;
}
* {
	font-family: monospace;
}
.kwadrat {
	background-color: dodgerblue;
	height: 200px;
	width: 200px;
	margin: 5px
}

#jeden {
	font-size: 150px
}

p {
	color: lime;
}
main p {
	color: black;
}
img:hover {
	border-radius: 50%
}
main div {
	display: inline-block; 
}
header {
	background-color: lime;
	border: 3px solid green;
	position: sticky;
	top: 0;
}